# Python
__pycache__/
app/__pycache__/
*.py[cod]
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables / secrets
.env
telegram-bot/.env

# Database and logs
closures.db
fastapi.log
telegram-bot.log
app/__pycache__/main.cpython-313.pyc
app/api/__pycache__/__init__.cpython-313.pyc
